@font-face {
    font-family: "kaushan-script-regular";
    src: url("fonts/kaushan-script/kaushan-script-regular/kaushanscript-regular-webfont.woff2") format("woff2"),
         url("fonts/kaushan-script/kaushan-script-regular/kaushanscript-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "oswald-bold";
    src: url("fonts/oswald/oswald-bold/oswald-bold-webfont.woff2") format("woff2"),
         url("fonts/oswald/oswald-bold/oswald-bold-webfont.woff") format("woff"),
         url("fonts/oswald/oswald-bold/oswald-bold-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #191517ff;
}

.h1-eventinfo {
  padding-left: 30px;
}

.h1-eventinfo h1 {
  display: inline-block;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rsc-eventinfo {
  color: #f2f2f2;
  font-family: "oswald-bold", sans-serif;
}

#fashion-eventinfo {
  color: #94fbab;
  font-family: "oswald-bold", sans-serif;
}

#show-eventinfo {
  color: #a9fff7;
  font-family: "oswald-bold", sans-serif;
}

.nav-eventinfo a {
  color: #f2f2f2;
  font-family: "proxima-nova-bold";
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
}

.nav-eventinfo {
  position: absolute;
  left: 300px;
  top: 55px;
}

.nav-eventinfo a:hover {
  color: #bcb6ff;
}

#eventinfo-eventinfo {
  color: #b8e1ff;
}

#eventinfo-eventinfo:hover {
  color: #bcb6ff;
}

.content-eventinfo {
  color: #f2f2f2;
  font-family: "proxima-nova-regular";
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 460px;
  position: absolute;
  top: 140px;
}

#AITM-eventinfo {
  color: #f2f2f2;
  font-family: "kaushan-script-regular";
  font-size: 40px;
}

.details-eventinfo {
  line-height: 0px;
}

.address-eventinfo p {
  display: inline-block;
}

#address-eventinfo {
  font-family: "proxima-nova-bold";
}

.date-eventinfo p {
  display: inline-block;
}

#date-eventinfo {
  font-family: "proxima-nova-bold";
}

.time-eventinfo p {
  display: inline-block;
}

#time-eventinfo {
  font-family: "proxima-nova-bold";
}

.venue-eventinfo p {
  display: inline-block;
}

#venue-eventinfo {
  font-family: "proxima-nova-bold";
}

#gate-eventinfo {
  font-style: italic;
}

.ticket-cost-eventinfo p {
  display: inline-block;
}

#ticket-cost-eventinfo {
  font-family: "proxima-nova-bold";
}

.email-eventinfo p {
  display: inline-block;
}

#email-eventinfo {
  font-family: "proxima-nova-bold";
}

#email-link-eventinfo {
  color: #b8e1ff;
  text-decoration: none;
}

.phone-eventinfo p {
  display: inline-block;
}

#phone-eventinfo {
  font-family: "proxima-nova-bold";
}

.anchala-eventinfo img {
  position: absolute;
  right: 0px;
  top: 130px;
  object-fit: cover;
  object-position: 50% 0;
  height: 83.5%;
  width: 30%;
}
