/* Font Imports */
@font-face {
    font-family: "oswald-bold";
    src: url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff2") format("woff2"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff") format("woff"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
  background-color: #191517ff;
}

/* Header */
.h1-gallery {
  padding-left: 30px;
}

.h1-gallery h1 {
  display: inline-block;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rsc-gallery {
  color: #f2f2f2;
  font-family: "oswald-bold", sans-serif;
}

#fashion-gallery {
  color: #94fbab;
  font-family: "oswald-bold", sans-serif;
}

#show-gallery {
  color: #a9fff7;
  font-family: "oswald-bold", sans-serif;
}

/* Navigation */
.nav-gallery a {
  color: #f2f2f2;
  font-family: "proxima-nova-bold";
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
}

.nav-gallery {
  position: absolute;
  left: 300px;
  top: 55px;
}

.nav-gallery a:hover {
  color: #bcb6ff;
}

#gallery-gallery {
  color: #b8e1ff;
}

#gallery-gallery:hover {
  color: #bcb6ff;
}

/* Slideshow */
* {box-sizing:border-box}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #bcb6ff;
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bcb6ff;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
