/* Font Imports */
@font-face {
    font-family: "oswald-bold";
    src: url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff2") format("woff2"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff") format("woff"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
  background-color: #191517ff;
}

/* Header */
.h1-gallery {
  padding-left: 30px;
}

.h1-gallery h1 {
  display: inline-block;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rsc-gallery {
  color: #f2f2f2;
  font-family: "oswald-bold", sans-serif;
}

#fashion-gallery {
  color: #94fbab;
  font-family: "oswald-bold", sans-serif;
}

#show-gallery {
  color: #a9fff7;
  font-family: "oswald-bold", sans-serif;
}

/* Navigation */
.nav-gallery a {
  color: #f2f2f2;
  font-family: "proxima-nova-bold";
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
}

.nav-gallery {
  position: absolute;
  left: 300px;
  top: 55px;
}

.nav-gallery a:hover {
  color: #bcb6ff;
}

#gallery-gallery {
  color: #b8e1ff;
}

#gallery-gallery:hover {
  color: #bcb6ff;
}
