/* Font Imports */
@font-face {
    font-family: "oswald-bold";
    src: url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff2") format("woff2"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.woff") format("woff"),
         url("../fonts/oswald/oswald-bold/oswald-bold-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.woff") format("woff"),
         url("../fonts/proxima-nova/proxima-nova-regular/proximanova-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff2") format("woff2"),
         url("../fonts/proxima-nova/proxima-nova-bold/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
  background-color: #191517ff;
}

/* Header */
.h1-index {
  line-height: 20px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 80px;
}

#rsc-index {
  color: #f2f2f2;
  font-family: "oswald-bold", sans-serif;
}

#fashion-index {
  color: #94fbab;
  font-family: "oswald-bold", sans-serif;
}

#show-index {
  color: #a9fff7;
  font-family: "oswald-bold", sans-serif;
}

/* Navigation */
.nav-index a {
  color: #f2f2f2;
  font-family: "proxima-nova-bold";
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 8px;
  display: block;
}

.nav-index a:hover {
  color: #bcb6ff;
}

#home-index {
  color: #b8e1ff;
}

#home-index:hover {
  color: #bcb6ff;
}

/* Image */
.chloe-index img {
  position: absolute;
  left: 350px;
  top: 0px;
  object-fit: cover;
  height: 100%;
  width: 75.6%;
}
